
  /* 기본 메뉴 항목 스타일 */
  .ps-menu-button {
    background-color: #434957 !important; /* 기본 배경색 */
    color: #e2e8f0 !important; /* 기본 텍스트 색상 */
  }
  
  /* hover 시 메뉴 항목 스타일 */
  .ps-menu-button:hover {
    background-color: #4A5568 !important; /* hover 시 배경색 */
    color: #74ade2 !important; /* hover 시 텍스트 색상 */
    transition: 0.4s ease; /* 부드러운 전환 */
  }
  
  /* 라이트 모드 스타일 추가 */
  body.light-mode .ps-menu-button {
    background-color: #f0f0f0 !important; /* 라이트 모드 배경색 */
    color:  #e2e8f0  !important; /* 라이트 모드 텍스트 색상 */
  }
  
  body.light-mode .ps-menu-button:hover {
    background-color: #e2e8f0 !important; /* 라이트 모드 hover 시 배경색 */
    color: #007acc !important; /* 라이트 모드 hover 시 텍스트 색상 */
    transition: 0.4s ease;
  }