#login-wrapper {
    background: linear-gradient(to bottom right, #2F2F42 0%, #3A3B58 100%); /* 어두운 그레이-블루 계열 */
    left: 0;
    width: 100%;
    height: 100vh; /* 뷰포트 전체 높이를 사용 */
    display: flex; /* 플렉스 박스 레이아웃 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

#login-container {
    max-width: 600px; /* 폭을 줄여 로고와 입력 칸 사이 간격 조정 */
    padding: 40px 0;  /* 위아래 padding을 줄여 로고와 입력 칸 사이 간격 조정 */
    height: auto;
    text-align: center;
}

#login-form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

#login-form label {
    color: #FFFFFF; /* ID와 Password 텍스트를 흰색으로 변경 */
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

#login-form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 10px auto; /* 로고와 입력 필드 사이 간격 줄임 */
    display: block;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    transition-duration: 0.25s;
    font-weight: 300;
}

#login-form input:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#login-form input:focus {
    background-color: white;
    width: 350px;
    color: black;
}

#login-form button {
    appearance: none;
    outline: 0;
    background-color: #4CAF50; /* 청록색 */
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 180px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin-top: 10px;
}

#login-form button:hover {
    background-color: #45A049;
}

#bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    animation: square 25s infinite;
    transition-timing-function: linear;
}

#bg-bubbles li:nth-child(1) {
    left: 10%;
}

#bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
    animation-duration: 17s;
}

#bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 2s;
}

#bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

#bg-bubbles li:nth-child(5) {
    left: 70%;
}

#bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 2s;
    background-color: rgba(255, 255, 255, 0.2);
}

#bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 4s;
}

#bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 10s;
    animation-duration: 40s;
}

#bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

#bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 8s;
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

#logo-image {
    max-width: 350px; /* 로고 크기를 줄여서 간격 조정 */
    margin-bottom: 20px; /* 로고와 입력 필드 간격 줄이기 */
}

h1 {
    font-size: 24px;
    color: #FFFFFF; /* 흰색 텍스트 */
}
